#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
}

.canvasFrame {
  display: grid;
  max-width: 90vw;
  max-height: 80vh;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.canvasImage{
  width: 100%;
}
