#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  --aspectRatio:4/3;
  --positionX: 0px;
  --positionY: 0px;
  --zoom:100%;
}

.canvasFrame {
  display: flex;
  flex-direction: row;
  max-width: 90vw;
  max-height: 80vh;
  aspect-ratio: var(--aspectRatio);
  overflow: hidden;
  border-style: double;
  border-radius: 1rem;
  cursor: pointer;
}

.canvasImage{
  height: var(--zoom);
  min-height: 10%;
  aspect-ratio: var(--aspectRatio);
  position: relative;
  left: var(--positionX);
  top: var(--positionY);
  outline: none;
}
