#root {
  max-width: 100%;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content);
  place-content: center;
  flex-direction: row;
  place-items: center;
  --aspectRatio:4/3;
  --positionX: 0px;
  --positionY: 0px;
  --zoom:100%;
}

.canvasFrame {
  box-sizing: border-box;
  margin: 1rem;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  height: 70vh;
  max-width: 100%;
  aspect-ratio: var(--aspectRatio);
  overflow: hidden;
  border-style: double;
  border-width: 0.5rem;
  border-radius: 1rem;
  border-color: #24292f;
  cursor: pointer;
}

.canvasImage{
  height: var(--zoom);
  min-height: 10%;
  position: relative;
  left: var(--positionX);
  top: var(--positionY);
  outline: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  filter:drop-shadow(1rem 0.5rem 1rem rgba(0, 0, 0, 0.26));
}

.imageUploadButton{
  margin: 1rem;
  display: block;
  grid-column: 2;
  padding-right: 1rem;
  background-color:#858789;
  border-radius: 0.5rem;
  color: #cccccc;
  cursor: pointer;
  width: 20rem;
  will-change: width;
  transition: width 300ms;
}

.imageUploadButton::file-selector-button {
  background-color: #24292f;
  color: #cccccc;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.imageUploadButton:not(:hover) {
  width: 5rem;
}