.mouseIcon{
    position: relative;
    display: grid;
    grid-row: 1;
    margin: 1rem;
    place-items: center;
}

.image {
    display: grid;
    position: relative;
    align-items: center;
    align-self: center;
    width: 8rem;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.iconText {
    font-size:larger;
    color: #000;
    position: relative;
    display: grid;
    align-self: center;
}