.mouseIcon{
    position: relative;
    display: grid;
    grid-row: 1;
    margin: 1rem;
    padding: 1rem;
    place-items: center;
}

.image {
    display: grid;
    position: relative;
    align-items: center;
    align-self: center;
    max-height: 10vh;
    box-sizing: border-box;
}

.iconText {
    position: relative;
    display: grid;
    align-self: center;
}